<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %> 
    <div class="detail-bg">
        <!-- JSON.stringify 깨진 object 정렬해주기 가-->
        <h4><%= JSON.stringify(result.title) %></h4>
        <p><%= JSON.stringify(result.content) %></p>
    </div> 
  </body>
</html>

<!-- -의 경우 HTML 태그 사용시 HTML로 적용이 안 됨 -->
<!-- =의 경우 HTML 태그 사용시 HTML로 적용이 됨 -->